@value mediaQuery from '../../common/size.css';

.cardmaker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  text-align: center;
  background: white;
}
@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
