@value makerWhite from '../../common/colors.css';

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: solid 1px black;
  border-left: solid 1px black;
  margin: 0.5rem;
}
.form:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.input,
.theme,
.msg,
.file {
  background: makerWhite;
  border: 0;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  padding: 0.5em;
  font-size: 0.9em;
}
.input,
.select {
  flex: 1 1 30%;
}
.msg {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-basis: 100%;
}
.btns {
  width: 100%;
}
