@value mainColor from '../../common/colors.css';

.cardmaker {
  flex-basis: 50%;
  text-align: center;
}

.title {
  color: mainColor;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
