@value mainColor,makerLightGrey, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: mainColor;
  position: relative;
}
.logo {
  padding-top: 1rem;
  width: 3em;
}
.title {
  font-size: 1.8rem;
  color: makerLightGrey;
}
.logout {
  position: absolute;
  right: 2.5em;
  top: 1em;
  width: 5em;
  color: mainColor;
  background: makerLightGrey;
  border: mainColor solid 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
.logout:hover {
  background: mainColor;
  color: makerLightGrey;
}
