@value mainColor from '../../common/colors.css';

a {
  text-decoration: none;
}
a:visited,
a:hover {
  color: white;
  text-decoration: underline;
}

.footer {
  width: 100%;
  width: 100%;
  text-align: center;
  background-color: mainColor;
  color: white;
  padding: 1rem;
}
