@value mainColor,makerBrown, makerGreen, makerLightGrey, makerLightGreen, makerWhite from '../../common/colors.css';

.container {
  display: inline;
}
.input {
  display: none;
}
.imgBtn {
  background: mainColor;
  color: makerLightGrey;
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  padding: 0.5em;
  width: 50%;
}
.imgBtn:hover {
  opacity: 0.9;
}
.imgBtn.haveImg {
  background: makerLightGreen;
  color: makerBrown;
}
