@value mainColor from '../../common/colors.css';

.login {
  width: 20em;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: mainColor;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
}

.btn {
  border: mainColor solid 2px;
  color: mainColor;
  border-radius: 10px;
  background: white;
  width: 90%;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
}

.btn:hover {
  background: #060032;
  color: white;
}
